<div class="container mt-5">
  <h3 class="text-left text-muted mb-3">Product Delete</h3>
  <hr>
  <h3 class="text-danger">Bu ürünü silmek istediğinizden emin misiniz ?</h3>
  <table class="table table-hover table-bordered">
    <tr>
      <td><b>ProductID</b></td> <td>{{product.ProductID}}</td>
    </tr>
    <tr>
      <td><b>CategoryID</b></td> <td>{{product.CategoryID}}</td>
    </tr>
    <tr>
      <td><b>ProductName</b></td> <td>{{product.ProductName}}</td>
    </tr>
    <tr>
      <td><b>Price</b></td> <td>{{product.Price}}</td>
    </tr>
    <tr>
      <td><b>UnitInStock</b></td> <td>{{product.UnitInStock}}</td>
    </tr>
    <tr>
      <td><b>PriceVat</b></td> <td>{{product.PriceVat}}</td>
    </tr>
    <tr><td><button class="btn btn-danger" (click)="deleteProduct(product)"> Delete</button></td></tr>
  </table>
</div>