<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular 7 Web UI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="product" routerLinkActive="active">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="category" routerLinkActive="active">Category</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="project" routerLinkActive="active">Project</a>
        </li>
    </ul>
    
  </div>
</nav>